<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple GQL Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>GraphQL Shop</h1>
    <div class="container">
        <div class="container__items">
        </div>
    </div>
    <div class="currencies">
        <select>
            <option value="rub">rub</option>
            <option value="eur">eur</option>
            <option value="usd">usd</option>
            <option value="aud">aud</option>
            <option value="azn">azn</option>
            <option value="kzt">kzt</option>
            <option value="ron">ron</option>
            <option value="uzs">uzs</option>
        </select>
    </div>
    <div class="change-currency">
        Change currency
    </div>
</body>
</html>